.loadMoreBtnContainer {
    text-align: center;
}

.loadMoreBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loadMoreBtn:hover {
    background-color: lightseagreen;
}